{{ if .Site.Data.content.PersonalProjects }}
<div id="" class="section">
    <div class="section__heading">
        <h2 class="section__title">
            Personal Projects
        </h2>
    </div>
    <div class="section__content">
        {{ range .Site.Data.content.PersonalProjects }}
            <div class="education__item">
                <h3 class="education__title">{{ .Name | safeHTML }}</h3>
                <div class="education__description">{{ .Details | safeHTML }}</div>
                <ul>
                    {{ range .Links }}
                    <li class="experience__bullet"><a href="{{ .Link }}">{{ .Title }}</a></li>
                    {{ end }}
                </ul>
            </div>
        {{ end }}
    </div>
</div>
{{ end }}
