.interests {
    display: block;
    -moz-column-count: 1;
    column-count: 1;
    width: 100%;
    text-align: left;
    @include avoid-break;

    & li {
        list-style: initial;
    }

    &__item:nth-child(n+4) {
        text-align: left;
    }
}