.content {
    position: absolute;
    overflow: hidden;

    &__left {
        float: left;
        width: $width-left-col;
        height: 100%;
        padding: 3rem 4rem;

        @media screen {
            &::after {
                content: '2024 © by Carlos Quintana   |   cquintana.dev';
                height: 4rem;
                width: 100%;
                position: absolute;
                bottom: 0.5rem;
                color: darken($color-white, 10%);
            }
        }
    }

    &__right {
        position: absolute;
        float: right;
        width: $width-right-col;
        height: 100%;
        padding: 2rem 3rem;
        right: 1rem;

        @media print {
            border-left: 1px solid #e2e2e2;
        }

        @media screen {
            background-color: $color-right-col;
            @include shadow(0.5);
        }
    }
}
